.itemList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.itemListProductCard {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.itemListImg {
  width: 100%;
  max-width: 170px;
  height: 150px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 7px;
}
.itemListButtonCategoryWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.itemListButtonCategory {
  margin-right: 10px !important;
  margin-bottom: 10px !important;
}
.itemListButtonLink {
  text-decoration: none;
  color: inherit;
}

.categoryIcon {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}
